<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Launch event </title>
</head>
<style>
  @font-face {
    font-family: "Montserrat-Regular";
    src: url("C:/Users/Manel/Desktop/tenders_email_collect/static/Montserrat-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Gotham-Medium";
    src: url("C:/Users/Manel/Desktop/tenders_email_collect/static/GothamSSm-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Gotham-Bold";
    src: url("C:/Users/Manel/Desktop/tenders_email_collect/static/GothamBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Gotham-Black";
    src: url("C:/Users/Manel/Desktop/tenders_email_collect/static/Gotham-Black.otf") format("truetype");
  }

  @font-face {
    font-family: "Gotham-Book";
    src: url("C:/Users/Manel/Desktop/tenders_email_collect/static/GothamSSm-Book.ttf") format("truetype");
  }

  @font-face {
    font-family: "Gotham-Light";
    src: url("C:/Users/Manel/Desktop/tenders_email_collect/static/GothamLight.ttf") format("truetype");
  }

</style>

<body style=" margin: 0;
padding: 0;box-sizing: border-box;
 color: #092540;
text-align: justify;
font-family: 'Gotham-Medium';
line-height: 2;
font-size:12px !important ; 
text-align: justify;
 ">
  <div class="content" style="margin: 115px 74px 60px 74px;">
    <div class="header" style="display: flex;
  justify-content: space-between; font-weight:bold ; 
  align-items: center;">
      <div class="logBrand">
        <img src="https://c.animaapp.com/R75bDWcm/img/whatsapp-image-2024-04-15---14-48-1.png" alt="logo" style="width: 414px;
      height: 120px;
    ">
      </div>
      <div class="date" style="font-size: 18px;
    font-weight: 700;
">Canada, le 30/04/2024
      </div>
    </div>
    <div style="    background-color: #DCDC1E;
  height: 10px;
  border-radius: 25px;
  margin: 20px 0 20px 0;"></div>
    <div class="container">
      <div class="presentation" style="
    color: #092540;
text-align: justify;
font-style: normal;
font-weight: 400;
line-height: 2;margin-bottom: 20px;">
        Nous sommes ravis de vous présenter <span style="color: #DCDC1E;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    ">GeoImpact</span>, un produit d'ApexMachina.
        <span style="color: #91CED4;
        font-style: normal;
        font-weight: 800;
        line-height: normal;">GeoImpact</span> est une plateforme de base de données de pointe qui permet de rassembler
        des
        données géographiques et économiques provenant de diverses sources. La plateforme est conçue pour offrir aux
        utilisateurs des outils de visualisation, d'analyse et de partage des données. Avec GeoImpact, vous pouvez
        obtenir
        des informations précieuses et prendre des décisions éclairées sur la base de sources de données complètes et
        d'analyses en temps réel. Désormais, vous pouvez nous confier le travail sur les données et commencer votre
        analyse immédiatement !
        Après un développement et des tests approfondis, nous sommes confiants que <span style="color: #91CED4;
      font-style: normal;
      font-weight: 800;
      line-height: normal;">GeoImpact</span> sera un outil indispensable,
        offrant une précision incomparable et des interactions conviviales.
      </div>
      <div class="sikillset" style="display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px; margin-bottom: 20px;
">
        <div class="elements">
          <ul style='    margin: 0;
          padding: 0;'>
            <li style="list-style: none; line-height: 2;
          "> - <strong>Visualiser les données sur une carte:</strong> Visualisez
              facilement un large éventail d'indicateurs et d'ensembles
              de données sur une interface cartographique interactive, comme illustré à droite. Des variables
              socio-économiques aux données environnementales, GeoImpact vous permet d'explorer l'information sans
              effort.
            <li style="list-style: none; line-height: 2;"> - <strong>Créer des projets :</strong> Créez et gérez des
              projets en toute
              transparence dans votre espace utilisateur. Que
              vous meniez des recherches, planifiez des initiatives ou analysiez des tendances, GeoImpact fournit une
              plateforme centralisée pour tous vos projets.
            </li>
            <li style="list-style: none;line-height: 2;"> - <strong>Ajoutez vos propres données:</strong>Améliorez votre
              analyse en
              incorporant vos propres jeux de données dans
              GeoImpact. Qu'il s'agisse de fichiers de forme, d'identifiants uniques ou de couches de données
              personnalisées, vous avez la possibilité d'enrichir votre analyse et de l'adapter à vos besoins
              spécifiques.
            </li>
            <li style="list-style: none;line-height: 2;"> - <strong>Simulations avancées :</strong> Profitez du module
              CiSim pour
              réaliser des simulations et des modélisations
              avancées. De la planification urbaine aux études d'impact sur l'environnement, CiSim vous permet de
              simuler
              différents scénarios et d'évaluer les résultats de manière efficace.
            </li>
            <li style="list-style: none;line-height: 2;"> - <strong>Partagez vos projets :</strong> Collaborez avec vos
              collègues,
              parties prenantes et partenaires en partageant
              facilement vos projets et résultats. GeoImpact facilite la collaboration et le partage des connaissances,
              garantissant ainsi l'accès à toutes les parties prenantes.
            </li>
            <li style="list-style: none;line-height: 2;"> - <strong>Interface conviviale :</strong> Grâce à son
              interface intuitive et
              conviviale, GeoImpact rend l'analyse des données
              accessible aux utilisateurs de tous niveaux. Que vous soyez un professionnel chevronné ou un novice, vous
              trouverez GeoImpact facile à utiliser et à naviguer.</li>
            </li>
          </ul>
        </div>
        <div class="imges">
          <img src="https://c.animaapp.com/R75bDWcm/img/rectangle-6.png" alt="" style="border-radius: 10px;
        background: url(<path-to-image>) lightgray 50% / cover no-repeat;width: 774px;
height: 442.081px;
">
        </div>
      </div>
      <div class="event" style="    display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;">
        <div class="title" style="    width: 100%;
        text-align: center;
        font-size: 18px;
        font-weight: bolder;">Participez à l'événement de lancement officiel</div>
        <div class="description">
          <p style="text-align: center;">En temps que membre de notre communauté, nous vous offrons un accès anticipé exclusif à GeoImpact. Nous
            sommes confiants que vos commentaires nous seront extrêmement utiles pour continuer à affiner et à améliorer
            notre plateforme.</p>
          <p  style="text-align: center;">Retenez cette date dans votre calendrier ! Nous vous invitons à nous rejoindre lors de notre événement de
            lancement virtuel le 02/05/2024,
            où nous présenterons les capacités de GeoImpact et partagerons des idées sur l'avenir de la technologie
            géospatiale.
            Inscrivez-vous dès maintenant pour réserver votre place et participer avec nous à cette aventure
            passionnante. Rejoignez-nous et explorez la puissance des informations géospatiales avec GeoImpact.
          </p>
        </div>
        <div class="btnCont" style="    display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;">
          <a style="border-radius: 50px;
          background-color: #092540;
          color: white;
          text-decoration: none;
          padding: 20px 100px;
          text-align: center;
          font-size: 14px;
          font-weight: 600; " href="http://geopovnet.com:5000/">Rejoindre l'événement</a>
        </div>
        <div class="founder"  style="text-align: center; line-height: 2.5;">
          Nous sommes très enthousiastes à l'idée de voir comment <span style="color: #DCDC1E;
          font-size: 14px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;">GeoImpact</span> soutiendra vos projets et favorisera
          l'innovation dans vos opérations.
          Nous vous remercions de votre soutien continu et de la confiance que vous
          accordez à nos solutions. <br>
          Nous sommes impatients de recevoir vos commentaires et d'atteindre de nouveaux sommets ensemble.<br>

          Je vous prie d'agréer, Madame, Monsieur, l'expression de mes salutations distinguées, <br>

          <span style ="font-size: 14px;
          font-weight: bolder;
      ">Damien Echevin</span> <br>
          <span style ="font-size: 14px;
          font-weight: bolder;
      ">fondateur et directeur général, GeoImpact</span> <br>
          N'hésitez pas à nous contacter pour toute question ou pour organiser une démonstration personnalisée de
          GeoImpact. Inventons l'avenir ensemble !

        </div>
        <div class="imgDemo" style="background-color: rgba(145,206,212,0.26);
        width: 1046px;
        height: 616px;
        border-radius: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;">
          <img src="https://c.animaapp.com/R75bDWcm/img/ps-viztool1-1.png" alt="" style="position: absolute;
          border-radius: 10px;">
        </div>
        <div class="btnCont" style="    display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;">
          <a style="border-radius: 50px;
          background-color: #092540;
          color: white;
          text-decoration: none;
          padding: 20px 100px;
          text-align: center;
          font-size: 14px;
          font-weight: 600; " href="http://geopovnet.com:5000/">Demandez une démonstration</a>
        </div>
        <div class="footer" style="display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center; line-height: 2.5; 
        gap: 5px">
          <div style="    display: flex;
          align-content: center;
          justify-content: center;
          align-items: center;
          gap: 20px;">
            <div>Copyright © 2024 GeoImpact</div>
            <div class="logosmall">
              <img src="https://c.animaapp.com/R75bDWcm/img/image-7.png" alt="" style="width: 60px;
              height: 58px;
         ">
            </div>
          </div>
          <span><strong>GeoImpact</strong> , 1, boul. de l'Université , Sherbrooke QC , J1J1J1 Canada</span>
          <span>Cet e-mail a été envoyé parce que vous avez indiqué que vous souhaitiez recevoir des informations et des
            mises à jour sur GeoImpact.</span>
          <span>Si vous ne souhaitez pas recevoir d'autres communications de <span style="color: #DCDC1E;
            font-size: 14px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;">GeoImpact</span>, veuillez consulter cette page -> <span style="color: #91CED4;
            font-size: 14px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;">se désinscrire</span></span>

        </div>
      </div>


    </div>
  </div>

</body>

</html>